/* div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: absolute;

}

.red{
    background-color: red;
    z-index: -3;
}
.yellow{
    background-color: yellow;
    z-index: -6;
    top: 20px;
    left: 20px;
}

.green{
    background-color: green;
    z-index: 2;
    top: 40px;
    left: 40px;
} */


h1{
    color: red;
}
















